body 
{
font-family: arial;
}

#bloc_page
{
margin: 3.5rem;
background: #e8eaee;
box-shadow: 0 1rem 3rem;
overflow: hidden;
}

#logoform
{
height: 600px;
margin: auto;
width: 900px;
}

header
{
display: flex;
justify-content: space-around;
margin-bottom: 10px;
}

#nom_logo
{
display: flex;
align-items: center;
color: black;
font-size: 20px;
}

form
{
background: #8d99ae;
width: 800px;
padding: 15px 10px 0 10px;
box-shadow:  -5px -5px  #2b2d42;
box-shadow: 0 0 10px 5px #2b2d42;
}

form ol 
{
padding: 0px;
}

form fieldset
{
border: none;
margin-bottom: 10px;
}

form legend
{
margin: auto;
color: #edf2F4;
font-size: 25px;
font-weight: bold;
}

form ol li
{
background: #f2f4ed;
border-color: #2b2d42;
border-style: solid;
border-width: 2px;
border-radius: 5px;
line-height: 30px;
list-style: none;
padding: 5px 10px;
margin-bottom: 2px;
}

#message1
{
font-size: 15px;
font-weight: bold;
color : green;
text-align: center;
width: 450px;
height: 40px;
}

#message2
{
font-size: 20px;
color: red;
text-align: center;
width: 700px;
height: 100px;

}

form label
{
text-align: right;
font-size: 18px;
width: 100px;
}

form input
{
float: right;
background: #fff;
border: none;
border-radius: 3px;
padding: 5px;
width: 395px;
height: 15px;
margin-bottom: 3px;
}

form input:focus
{
background: #eaeaea;
}

form input:invalid
{
border: 1px solid #ef233c;
}

form input:valid
{
border: 1px solid green;
}

p
{
font-size: 20px;
text-align: center;

}

p input
{
width: 150px;
height: 30px;
}

p input:hover
{
background: green;
}

a
{
text-decoration: none;
}

footer
{
margin-top: 50px;
height: 40px;
background: #ef233c;		
}

@media (max-width: 1400px) {

#logoform
{
height: 600px;
margin: auto;
width: 900px;
}

}

@media (max-width: 1200px) {

header
{
display: flex;
justify-content: space-around;
}

#logoform
{
height: 600px;
margin: auto;
width: 900px;

}

form
{
margin: auto;
}


}

@media (max-width: 1000px) {

header
{
display: flex;
justify-content: space-around;

}

#logoform
{
height: 600px;
margin: auto;
width: 700px;

}

form
{
width: 600px;
}

form ol li
{
width: 550px;
}

form label
{
font-size: 18px;
width: 450px;
}

#label input
{
width: 300px;
}


}

@media (max-width: 800px) {

#nom_logo
{
font-size: 17px;
}

#logoform
{
height: 900px;
margin: auto;
width: 600px;
}

#pseudo form
{
height: 350px;
}

#pseudo ol li
{
height: 200px;
}

#pseudo input
{
width: 300px;
}

form
{
width: 500px;
height: 700px;
}

form ol li
{
width: 450px;
height: 500px;
}

form label
{

text-align: center;
font-size: 15px;
width: 450px;
}


}
  
@media (max-width: 650px) {

header
{
display: flex;
flex-direction: column;
align-items: center;
}

#nom_logo
{
font-size: 17px;
}

form legend
{
width: 250px;
text-align: center;
font-size: 15px;
font-weight: bold;
}

#logoform
{
height: 850px;
margin: auto;
width: 500px;

}

form
{
width: 450px;
height: 700px;
}

form ol li
{
width: 400px;
height: 500px;
}

#message1, #message2
{
width: 400px;
}

form label
{

text-align: center;
font-size: 15px;
width: 450px;
}

#label
{
display: flex;
flex-direction: column;
align-items: center;
}

footer
{
margin-top: 100px;
}



}

@media (max-width: 500px) {

header
{
display: flex;
flex-direction: column;
align-items: center;

}

#nom_logo
{
font-size: 15px;
text-align: center;
}

form legend
{
width: 250px;
text-align: center;
font-size: 15px;
font-weight: bold;
}

#logoform
{
height: 900px;
margin: auto;
width: 350px;
}

#pseudo form
{
height: 350px;
}

#pseudo input
{
width: 150px;
}

form
{
width: 300px;
height: 700px;
}

form ol li
{
width: 250px;
height: 500px;
}

#message1, #message2
{
width: 250px;
}

form label
{
text-align: center;
font-size: 12px;
width: 150px;
}

#label input
{
width: 225px;
}
