img 
{
max-width:100%;
max-height:100%;
}

body 
{
font-family: arial;
}

#bloc_page
{
margin: 3.5rem;
background: #e8eaee;
box-shadow: 0 1rem 3rem;
overflow: hidden;
}

#logo
{
margin: 10px 5px 5px 10px;
padding: 5px 5px 5px 5px;
}

header
{
border-bottom: solid red;
display: flex;
justify-content: space-between;
}

#userdecon
{
display: flex;
justify-content: flex-end;
margin-right: 20px;
}

#avauser
{
display: flex;
justify-content: flex-end;

}

#avatar
{
display: flex;
flex-direction: column;
justify-content: center;
margin-right: 25px;

}

#username
{
display: flex;
flex-direction: column;
justify-content: center;

}

#decon
{
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 50px;

}

button
{
background: #ef233c;
border-radius: 5px;
font-size: 15px;
margin-right: 10px;
}

button a
{
text-decoration: none;
}

#titre
{
color: #edf2f4;
background: #8d99ae;
padding: 2px 2px;
margin-top: 5px;
margin-bottom: 5px;
border-top: solid red;
border-bottom: solid red;
}

h1
{
color: ##edf2f4;
text-align: center;
font-size: 30px;
}

#descgbab
{
margin: 50px 50px;
font-size: 20px;
}

#liste
{
display: flex;
justify-content: center;
}

ul
{
column-count: 2;
}

li
{
font-weight: bold;
}

#picture
{
background: url(money.jpg) center no-repeat;
background-size: cover;
border-top: solid red;
border-bottom: solid red;
}

#picture img
{
width: 100%;
height: 700px;
}

#titrepartenaires
{
text-align: center;
font-size: 1.2em;
text-decoration: underline;
margin-top: 40px;
}

#textepartenaires
{

font-size: 20px;
text-align: center;
margin: 50px 50px;
}

#acteur
{
display: flex;
justify-content: space-between;
background: #8d99AE;
border: 3px solid #2b2d42;
margin: 15px 30px 10px 30px;
padding: 10px 20px 10px 20px;
}

#logoacteur
{
display: flex;
align-items: center;
justify-content: flex-end;

width: 500px;

}

#contenuacteur
{
display: flex;
flex-direction: column;
align-items: center;

margin-left: 20px;
}

#titreacteur
{
font-size: 1.3rem;
font-weight: bold;
padding-top: 2px;
margin-left: 20px;
}

#presentationacteur
{
font-size: 1.1rem;
width: 800px;
height: 80px;
padding: 10px 0px 0px 10px;
padding-top: 10px;
}

#buttonsuite
{
display: flex;
justify-content: flex-end;
align-items: flex-end;
width: 350px;
padding-bottom: 10px;
}

footer
{
display: flex;
justify-content: center;

height: 120px;
background: #ef233c;
margin-top: 20px;		
}

#mention
{
display: flex;
align-items: center;
color: white;
margin-right: 10px;
}

#barre
{
display: flex;
align-items: center;
font-size: 2rem;
}

#contact
{
display: flex;
align-items: center;
color: white;
margin-left: 10px;
}

@media (max-width: 1400px) {

#presentationacteur
{
width: 600px;

} 


}

@media (max-width: 1200px) {

#presentationacteur
{
width: 500px;

} 



@media (max-width: 1000px) {

#descgbab
{
font-size: 18px;
}

#picture img
{
width: 100%;
height: 500px;
}

#textepartenaires
{
font-size: 18px;
}

#presentationacteur
{
width: 400px;
font-size: 1rem;
} 

#buttonsuite
{
padding-left: 10px;
}



@media (max-width: 800px) {

h1
{
font-size: 20px;
}

#descgbab
{
font-size: 15px;
}

#picture img
{
width: 100%;
height: 400px;
}

#titrepartenaires
{
font-size: 0.9rem;
}

#textepartenaires
{
font-size: 15px;
}

#presentationacteur
{
width: 300px;
font-size: 0.9rem;
} 

}
  
@media (max-width: 650px) {

#header
{
display: flex;
flex-direction: column;
}

#avauser
{
padding-top: 20px;
}

#userdecon
{

display: flex;
flex-direction: column;
justify-content: space-between;  
padding-bottom: 20px;
}

#decon button
{
font-size: 10px;
}

h1
{
font-size: 20px;
}

#descgbab
{
font-size: 13px;
}

#picture img
{
width: 100%;
height: 300px;
}

#titrepartenaires
{
font-size: 0.9rem;
}

#textepartenaires
{
font-size: 13px;
}

#presentationacteur
{
width: 200px;
font-size: 0.7rem;
} 

}

@media (max-width: 500px) {

#header
{
display: flex;
flex-direction: column;
}

#avauser
{
padding-top: 20px;
}

#userdecon
{

display: flex;
flex-direction: column;
justify-content: space-between;  
padding-bottom: 20px;
}

#decon button
{
font-size: 10px;
}

h1
{
font-size: 20px;
}

#descgbab
{
font-size: 10px;
}

#picture img
{
width: 100%;
height: 200px;
}

#acteur
{
display: flex;
flex-direction: column;

}

#titrepartenaires
{
font-size: 0.9rem;
}

#textepartenaires
{
font-size: 10px;
}

#logoacteur
{
margin: auto;
width: 200px;
margin-bottom: 10px;
}

#contenuacteur
{

margin-left: 0px;
}

#titreacteur
{
text-align: left;

}


#presentationacteur
{
width: 200px;
font-size: 0.7rem;

} 

#buttonsuite
{

display: flex;
justify-content: center;
}
   
}
