@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #F8F8FF;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: #e9e9f2;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.logo {
    cursor: pointer;
}

.logo img {
    width: 70px;
}

.brand {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.user-session {
    display: flex;
    align-items: center;
}

.avatar-user {
    margin-right: 15px;
}

.avatar-user img {
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

.username {
    margin-right: 50px;
}

.rounded-button {
    margin-bottom: 5px;
}

.rounded-button i {
    width: 45px;
    height: 45px;
    background-color: #007bff;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10%;
    border: none;
}

.rounded-button i:hover {
    background-color: white;
    color: #007bff;
}

.partner {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
}

.partner img {
    max-width : 100%;
    height: auto;
    box-shadow: 1px 1px 15px #555;
}

.block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.block-about {
    padding: 60px;
    display: flex;
}

.block-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.title-left {
    font-size: 20px;
    padding-left: 20px;
    border-left: 6px solid #EF233c;
    margin-bottom: 30px;
}

.title-left h5 {
    color: #abb4c3;
    letter-spacing: 0.5px;
}

.title-left h2 {
    font-weight: 600;
    letter-spacing: 0.2px;
}

.content-left {
    font-size: 17px;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;

    height: 120px;
    background: #ef233c;		
}

.mention {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 10px;
}

.barre {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.contact {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;
}